.navigation-bar {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c0c0c0;
}

.navigation-bar form {
  display: flex;
  padding-bottom: 5px;
}

.searchbar {
  outline: none;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  padding: 5px 0px;
  color: black;
  border-radius: 15px 0 0 15px;
}

.search-btn {
  border-radius: 0 15px 15px 0;
  border: 1px solid #c0c0c0;
  padding: 8px;
  background-color: aqua;
}

.reset-btn {
  padding-left: 5px;
  font-style: italic;
  font-size: 12px;
}
